.aboutus-section {
  position: relative;
  margin-bottom: 375px;
}
.aboutus-container {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.title-content {
  max-width: 529px;
  margin-bottom: 40px;
}
.aboutustext-container {
  display: flex;
  flex-wrap: wrap;
}

.aboutus-photo {
  border-radius: 50%;
  height: 328px;
}
.aboutus-before {
  position: absolute;
  top: -40px;
  right: 168px;
}
.aboutus-after {
  position: absolute;
  left: 905px;
  top: 336px;
}
.aboutus-text {
  font-size: 22px;
  line-height: 1.7;
  max-width: 650px;
}
.aboutus-text:not(:last-child) {
  margin-bottom: 40px;
}
span.main-title {
  color: var(--color-primary-light);
}
.traditional-logo {
  text-transform: capitalize;
  font-weight: 700;
}
