.contact-section {
  padding: 0px 100px;
}
.map {
  flex-shrink: 0;
  border: none;
  border-radius: 32px;
}

.map-container {
  display: flex;
  gap: 32px;
  justify-content: center;
  margin-bottom: 96px;
}
.contact-form {
  width: 100%;
  max-width: 424px;
  height: 100%;
  max-height: 481px;
  padding: 48px 56px;
  background-image: url(../images/modal-background.png);
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-position: top;
  border-radius: 32px;
}
.form-field-contact {
  position: relative;
  margin-bottom: 16px;
}
@import './utils/utils';

/*book appointment section*/
.howtofindus {
  color: var(--color-primary-light);
}
.howtofind {
  text-align: center;
  margin-bottom: 48px;
}
.bookandgetpresent {
  color: var(--color-secondary-white);
  font-size: 22px;
  font-weight: 600;
}
span.free {
  color: var(--color-primary-light);
  font-size: 22px;
  font-weight: 600;
}
.customerinformation {
  color: var(--color-secondary-white);
  background-color: var(--color-primary-dark);
  font-size: 13px;
  border: 2px solid var(--color-secondary-gray);
  border-radius: 32px;
  cursor: pointer;
}
.customerinformation:hover {
  color: var(--color-secondary-white);
  background-color: transparent;
  font-size: 13px;
}
.confidentiality {
  color: var(--color-secondary-gray);
  font-size: 12px;
  line-height: 1.5;
}
